@mixin border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

$rowHeight: 75px;


body {
  font-size: 20px;
  line-height: 30px;
}

p, li { font-size: 18px; }

img {
  padding: 4px;
}


#scroll-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  cursor: pointer;
  img {
    border-width: 0;
  }
}
#header {
  line-height: $rowHeight;
  a {
    line-height: 50px;
    font-size: 30px;
  }
}
#spilliams {
  height: 100px;
  line-height: 100px;
  margin-bottom: 50px;
}
#footer {
  padding-top: 17px;
  padding-bottom: $rowHeight;
  a {
    font-size: 14px;
  }
  p a {
    font-size: 18px;
  }
}


.title {
  font-size: 30px;
}
.meta {
  font-size: 14px;
}
.feature .header {
  line-height: 100px;
}
.article {
  img {
    width: 100%;
    display: block;
  }
  .header {
    .title, .meta {
      margin-top: 22px;
      margin-bottom: 22px;
    }
    .meta {
      white-space: nowrap;
    }
  }
  .body {
    padding-top: 17px;
    padding-bottom: $rowHeight;
    img.thumb {
      float: left;
      margin: 0 10px 10px 0;
      height: 75px;
      width: auto;
    }
  }
}
.icon {
  max-height: 100px;
  img {
    width: 85px;
    margin-top: 7px;
    padding: 0;
  }
}
.preview {
  text-align: center;
  img {
    margin: 20px 30px;
    height: 60px;
  }
}
