@mixin border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }



p, li { font-size: 18px; }

body {
  font-size: 20px;
  line-height: 30px;
  #scroll-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    cursor: pointer;
  }
  #header {
    line-height: 75px;
    a {
      line-height: 50px;
      font-size: 30px; } }
  .title {
    font-size: 30px; }
  .meta {
    font-size: 14px; }
  .feature .header {
    line-height: 100px; }
  .article .header {
    line-height: 75px; }
  #footer { 
    a {
      font-size: 14px;
    }
    p a {
      font-size: 18px;
    }
  }
}

#spilliams {
  height: 100px;
  line-height: 100px;
  margin-bottom: 50px; }

// images
.icon {
  max-height: 100px;}
img {
  padding: 4px; }
.icon img {
  width: 85px;
  margin-top: 7px;
  padding: 0;
  }
#scroll-nav img {
  border-width: 0;
}
.preview {
  text-align: center; }
.preview img {
  margin: 20px 30px;
  height: 60px; }
.article img {
  width: 100%;
  display: block;
}
.article .body img.thumb {
  float: left;
  margin: 0 10px 10px 0;
  height: 75px; }
.article .body, #footer {
  padding-top: 17px; }
