@mixin border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 20px;
  line-height: 30px;
  #header {
    line-height: 75px;
    a {
      line-height: 50px;
      font-size: 30px; } }
  .title {
    font-size: 30px; }
  .meta {
    font-size: 14px; }
  .feature .header {
    line-height: 100px; }
  .article .header {
    line-height: 75px; }
  #footer .container div {
    height: 200px; } }

#spilliams {
  height: 100px;
  line-height: 100px;
  margin-bottom: 50px; }

// images
.icon {
  max-height: 100px;}
img {
  padding: 4px; }
.icon img {
  width: 85px;
  margin-top: 7px;
  padding: 0;
  }
.preview {
  text-align: center; }
.preview img {
  margin: 20px 30px;
  height: 60px; }
.article .body img.thumb {
  float: left;
  margin: 0 10px 10px 0;
  height: 75px; }
.article .body, #footer {
  padding-top: 17px; }
#footer img {
  height: 140px;
  margin: 0 20px 0; }
#footer .container div {
  @include border-box;
  padding-top: 30px; }