@media only screen and (max-width: 767px) {
  #header {
    text-align: center; }
  body .article .header {
    line-height: 50px;
    text-align: center;
    .title {
      margin-top: 10px; }
    .meta {
      text-align: center; } } }