// Archer and Verlag come from HFJ's cloud.
// <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7377652/791262/css/fonts.css" />
$serifFontFamily     : 'Archer SSm A', 'Archer SSm B';
$sansSerifFontFamily : 'Verlag A', 'Verlag B';
$monospaceFontFamily : "Consolas", "Menlo", "DejaVu Sans Mono", monospace;

// Usage of typefaces
// serif
body {
    font-family: $serifFontFamily; }

// sans-serif
#header a, .title {
  font-family: $sansSerifFontFamily; }

// monospace/special
code, pre {
  font-family: $monospaceFontFamily; }
