// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// Import the colorset
@import "partials/colorset";

// Import the typeset
@import "partials/typeset";

// Import the grid
@import "partials/grid";

// Import custom thingies
@import "partials/github";
@import "partials/stickyfooter";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
// @include blueprint-typography(true);
body.bp {
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form;
  // You'll probably want to remove the scaffolding once you start styling your site.
  @include blueprint-scaffolding; }

// what is this i don't even

a {
  text-decoration: none; }

// for the fancy js stuff

.article .body {
  display: none; }
.article .header, .preview {
  cursor: pointer; }

// images

.preview img, img.thumb {
  padding: 4px;
  background: #eee;
  border: 1px outset #ddd; }
.preview img {
  float: left;
  margin: 20px;
  width: 90px;
  height: 50px; }
.article .body img.thumb {
  float: left;
  width: 135px;
  height: 75px;
  margin-right: 10px; }