// Import the colorset
@import "_colorset";

// Import the typeset
@import "_typeset";

// Import the grid
@import "_grid";

// Import custom thingies
@import "_github";
@import "_stickyfooter";

// what is this i don't even

body { overflow-y: scroll; }
a { text-decoration: none; }

// for the fancy js stuff

.article .body {
  display: none; }
.article .header, .preview {
  cursor: pointer; }