<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>spencerenglish.com</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" href="stylesheets/theme.css">

  <script src="javascripts/foundation/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  <div id='fork-outside'><a id='fork-inside' href='http://github.com/spilliams/' target='_blank'>Fork me on Github</a></div>
  <div class='wrapper'>
    <div id='header'>
      <div class='row'>
        <div class="ten columns">
          my name is
          <a href='javascript:void(0)' class='banner'>spencer english williams</a>.
        </div><!--.ten.columns-->
        <div class="ten columns text-right">
          <div id='nav'>
            i am a
            <span class='dev'><a href='javascript:void(0)' class='dev active'>developer</a></span>,
            <span class='eng'><a href='javascript:void(0)' class='eng active'>engineer</a></span> and
            <span class='exp'><a href='javascript:void(0)' class='exp active'>explorer</a></span>
          </div><!--#nav-->
        </div><!--.ten.columns.text-right-->
      </div><!--.row-->
    </div><!--#header-->
    <div id='content'>
        
        
      <!-- FEATURES -->
        
        
      <div class="dev feature">
        <div class='header row'>
          <div class='icon two columns text-center offset-by-two'>icon</div>
          <div class='title three columns end'>developer</div>
          <!-- previews will be inserted here -->
        </div><!-- .header.row -->
      </div><!-- .dev.feature -->
        
      <div class='eng feature'>
        <div class='header row'>
          <div class='icon two columns text-center offset-by-two'>icon</div>
          <div class='title three columns end'>engineer</div>
          <!-- previews will be inserted here -->
        </div><!-- .header.row -->
      </div><!-- .eng.feature -->
        
      <div class='exp feature'>
        <div class='header row'>
          <div class='icon two columns text-center offset-by-two'>icon</div>
          <div class='title three columns end'>explorer</div>
          <!-- previews will be inserted here -->
        </div><!-- .header.row -->
      </div><!-- .exp.feature -->
        
      <div id='spilliams' class='feature'>
        <div class="row">
          <div class='icon two columns text-center offset-by-two'>icon</div>
          <div class='title three columns'>spilliams</div>
          <div class='social three columns text-center'><a href='http://twitter.com/spilliams' target='_blank'>twitter</a></div>
          <div class='social three columns text-center'><a href='http://github.com/spilliams' target='_blank'>github</a></div>
          <div class='social three columns text-center end'><a href='http://linkedin.com/in/spencerenglish' target='_blank'>linkedin</a></div>
        </div><!-- .row -->
      </div><!-- #spilliams.feature -->
        
        
      <!-- ARTICLES -->
        
      <div id='articles'>
        <!-- articles will be inserted here -->
      </div>
        
    </div><!-- /content -->
      
    <div class='push'></div>
  </div><!-- /wrapper -->
  <div id='footer' class='footer row'>
    <div class='four columns'><img src='images/me.jpg'></div>
    <div class='nine columns'>Spencer has recently graduated from Carnegie Mellon University and has relocated to Portland, Oregon.<br>He is now a front-end and iOS developer and interface engineer at <a href='http://upstartlabs.com' target='_blank'>Upstart Labs</a>.</div>
    <div class='three columns end text-right'>
      <a href='http://twitter.com/spilliams' target='_blank'>twitter</a><br>
      <a href='http://github.com/spilliams' target='_blank'>github</a><br>
      <a href='http://linkedin.com/in/spencerenglish' target='_blank'>linkedin</a><br>
      <a href="mailto://s@spencerenglish.com">email</a><br>
      <a href="http://blog.spencerenglish.com" target="_blank">blog</a>
    </div>
  </div><!-- #footer.footer.row -->
  
  <script type="text/html" id="article_template">
    <div class="<%= article.discipline %> article">
      <div class="header">
        <div id="<%= article.identifier %>" class="row">
          <div class="title nine columns offset-by-four"><%= article.headerTitle %></div>
          <div class="meta three columns text-right end"><%= article.date %></div>
        </div><!-- #identifier.header.row -->
      </div><!-- .header -->
      <div class="body">
        <div class="row">
          <div class="twelve columns end offset-by-four">
            <%= links %>
            <% article.paragraphs.forEach(function(paragraph){ %>
              <p><%= paragraph %></p>
            <% }); %>
          </div><!-- .eighteen.columns.offset-by-two -->
        </div><!-- .row -->
      </div><!-- .body -->
    </div><!-- .discipline.article -->
  </script>
  
  <!-- Included JS Files (Uncompressed) -->
  <script src="javascripts/foundation/jquery.js"></script>
  <script src="javascripts/foundation/jquery.foundation.accordion.js"></script>
  <script src="javascripts/foundation/jquery.foundation.alerts.js"></script>
  <script src="javascripts/foundation/jquery.foundation.buttons.js"></script>
  <script src="javascripts/foundation/jquery.foundation.forms.js"></script>
  <script src="javascripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>
  <script src="javascripts/foundation/jquery.foundation.navigation.js"></script>
  <script src="javascripts/foundation/jquery.foundation.orbit.js"></script>
  <script src="javascripts/foundation/jquery.foundation.reveal.js"></script>
  <script src="javascripts/foundation/jquery.foundation.tabs.js"></script>
  <script src="javascripts/foundation/jquery.foundation.tooltips.js"></script>
  <script src="javascripts/foundation/jquery.foundation.topbar.js"></script>
  <script src="javascripts/foundation/jquery.placeholder.js"></script>
  <!-- Application Javascript, safe to override -->
  <script src="javascripts/foundation/app.js"></script>
  <script src="javascripts/theme.js"></script>
  <script src="javascripts/content.js"></script>
</body>
</html>
