// palette http://colorschemedesigner.com/#0h51TK-hWpBpB
$red           : #8F0000;
$redShadow1    : #721717;
$redShadow2    : #670000;
$redLight1     : #BC2626;
$redLight2     : #BC4444;
$yellow        : #8F5F00;
$yellowShadow1 : #725417;
$yellowShadow2 : #674500;
$yellowLight1  : #BC8A26;
$yellowLight2  : #BC9444;
$blue          : #005656;
$blueShadow1   : #0E4545;
$blueShadow2   : #003E3E;
$blueLight1    : #1F9999;
$blueLight2    : #379999;
$brown         : #8F4100;
$brownShadow1  : #724017;
$brownShadow2  : #672F00;
$brownLight1   : #BC6A26;
$brownLight2   : #BC7A44;

* {
  color: white; }
body {
  background-color: $brownLight2; }
#header, #footer {
  background: $brown; 
  border-color: $brownShadow2; }
#footer, .dev .header, .eng .header, .exp .header {
  border-style: solid;
  border-width: 1px 0 0; }
.dev .header {
  background: $red;
  border-color: $redShadow2; }
.dev .body {
  background: $redLight2; }
.eng .header {
  background: $yellow;
  border-color: $yellowShadow2; }
.eng .body {
  background: $yellowLight2; }
.exp .header {
  background: $blue;
  border-color: $blueShadow2; }
.exp .body {
  background: $blueLight2; }
