// palette http://colorschemedesigner.com/#0u61TK-hWpBpB
$red           : #8F0000;
$redShadow1    : #721717;
$redShadow2    : #670000;
$redLight1     : #BC2626;
$redLight2     : #BC4444;
$yellow        : #8F5F00;
$yellowShadow1 : #725417;
$yellowShadow2 : #674500;
$yellowLight1  : #BC8A26;
$yellowLight2  : #BC9444;
$blue          : #005656;
$blueShadow1   : #0E4545;
$blueShadow2   : #003E3E;
$blueLight1    : #1F9999;
$blueLight2    : #379999;
$brown         : #8F4100;
$brownShadow1  : #724017;
$brownShadow2  : #672F00;
$brownLight1   : #BC6A26;
$brownLight2   : #BC7A44;

@mixin text-shadow($color) {
  text-shadow: 0px 0px 4px $color;
  filter: dropshadow(color=$color, offx=0, offy=0);
}

body {
  background-color: $brownLight2; }
#header, #footer {
  color: white;
  background: $brown; 
  border-color: $brownShadow2; }
#footer {
  border-style: solid;
  border-width: 1px 0 0; }


#header {
  a {
    color: $brownLight2;
    @include text-shadow($brownShadow2); }
  .dev {
    a {
      color: $red; }
    a:hover {
      color: $redLight1;
      @include text-shadow($redShadow2); }
    a.active {
      color: $redLight2;
      @include text-shadow($redShadow2); } }
  .eng {
    a {
      color: $yellow; }
    a:hover {
      color: $yellowLight1;
      @include text-shadow($yellowShadow2); }
    a.active {
      color: $yellowLight2;
      @include text-shadow($yellowShadow2); } }
  .exp {
    a {
      color: $blue; }
    a:hover {
      color: $blueLight1;
      @include text-shadow($blueShadow2); }
    a.active {
      color: $blueLight2;
      @include text-shadow($blueShadow2); } } }


.dev, .eng, .exp {
  .header {
    color: white;
    border-style: solid;
    border-width: 1px 0 0; }
  .body { 
    color: black; } }
.header {
  background: $brown;
  border-color: $brownShadow2; }
.dev .header {
  background: $red;
  border-color: $redShadow2; }
.dev .body {
  background: $redLight2; }
.eng .header {
  background: $yellow;
  border-color: $yellowShadow2; }
.eng .body {
  background: $yellowLight2; }
.exp .header {
  background: $blue;
  border-color: $blueShadow2; }
.exp .body {
  background: $blueLight2; }
