@mixin border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

// vertical grid
body.one-col {
  .article .body {
    padding: 32px 0; /* (75px line-height - 12px text-height) / 2 */  }
  #footer .fourth-columns.last { text-align: right; }
  .container {
    @include container;
    .content {
      @include prepend(4);
      @include column(12);
      @include append(4); }
    .icon {
      @include prepend(2);
      @include column(2);
      text-align: right; }
    .social {
      text-align: center; }
    .title {
      @include column(10); }
    .meta {
      text-align: right;
      @include column(2,true); }
      
    .two-thirds-augmented-columns {
      @include column(9); }
    .half-columns {
      @include column(10); }
    .half-columns.last {
      @include column(10, true); }
    .third-augmented-columns.last {
      @include column(5, true); }
    .third-columns {
      @include column(4);}
    .fourth-columns {
      @include column(3);
      &.last { @include column(3,true); } } } }
.article .title {
  @include prepend(4); }

// horizontal grid
body.one-col {
  font-size: 20px;
  line-height: 30px;
  #header {
    line-height: 75px;
    a {
      line-height: 50px;
      font-size: 30px; } }
  .title {
    font-size: 30px; }
  .meta {
    font-size: 14px; }
  .feature .header {
    line-height: 100px; }
  .article .header {
    line-height: 75px; }
  #footer .container div {
    height: 200px; } }

// images
img {
  padding: 4px; }
.preview img {
  float: left;
  @include column(2);
  margin: 20px;
  height: 50px; }
.article .body img.thumb {
  float: left;
  @include column(3);
  height: 75px; }
#footer img {
  height: 140px;
  margin: 0 20px 0; }
#footer .container div {
  @include border-box;
  padding-top: 30px; }