/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../sass/partials/_stickyfooter.scss */
* {
  margin: 0;
}

/* line 4, ../sass/partials/_stickyfooter.scss */
html, body {
  height: 100%;
}

/* line 7, ../sass/partials/_stickyfooter.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
  /* the bottom margin is the negative value of the footer's height */
}

/* line 13, ../sass/partials/_stickyfooter.scss */
.footer, .push {
  height: 200px;
  /* .push must be the same height as .footer */
}

/* line 16, ../sass/partials/_stickyfooter.scss */
.footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
/* line 45, ../sass/partials/_colorset.scss */
body {
  background: #575757 url("../images/furley_bg.png") repeat scroll 0 0;
}

/* line 47, ../sass/partials/_colorset.scss */
#header, #footer {
  color: white;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

/* line 51, ../sass/partials/_colorset.scss */
#header {
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
}
/* line 53, ../sass/partials/_colorset.scss */
#header a {
  color: #bc6a26;
  text-shadow: 0px 0px 4px #672f00;
}
/* line 56, ../sass/partials/_colorset.scss */
#header a:hover {
  color: #bc7a44;
}
/* line 59, ../sass/partials/_colorset.scss */
#header .dev a {
  color: #8f0000;
}
/* line 61, ../sass/partials/_colorset.scss */
#header .dev a:hover {
  color: #bc4444 !important;
  text-shadow: 0px 0px 4px #670000;
}
/* line 64, ../sass/partials/_colorset.scss */
#header .dev a.active {
  color: #bc2626;
  text-shadow: 0px 0px 4px #670000;
}
/* line 68, ../sass/partials/_colorset.scss */
#header .eng a {
  color: #8f5f00;
}
/* line 70, ../sass/partials/_colorset.scss */
#header .eng a:hover {
  color: #bc9444 !important;
  text-shadow: 0px 0px 4px #674500;
}
/* line 73, ../sass/partials/_colorset.scss */
#header .eng a.active {
  color: #bc8a26;
  text-shadow: 0px 0px 4px #674500;
}
/* line 77, ../sass/partials/_colorset.scss */
#header .exp a {
  color: #005656;
}
/* line 79, ../sass/partials/_colorset.scss */
#header .exp a:hover {
  color: #379999 !important;
  text-shadow: 0px 0px 4px #003e3e;
}
/* line 82, ../sass/partials/_colorset.scss */
#header .exp a.active {
  color: #1f9999;
  text-shadow: 0px 0px 4px #003e3e;
}

/* line 88, ../sass/partials/_colorset.scss */
.header .title, .header .meta, .social {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.1);
}

/* line 91, ../sass/partials/_colorset.scss */
.social a {
  color: black;
}

/* line 94, ../sass/partials/_colorset.scss */
.header {
  background: #8f4100;
  border-color: #672f00;
}

/* line 98, ../sass/partials/_colorset.scss */
.feature .header {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #672f00;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* line 107, ../sass/partials/_colorset.scss */
.dev.article, .eng.article, .exp.article {
  border-style: solid;
  border-width: 0 0 1px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
/* line 111, ../sass/partials/_colorset.scss */
.dev .header, .dev .body, .eng .header, .eng .body, .exp .header, .exp .body {
  border-style: solid;
}
/* line 112, ../sass/partials/_colorset.scss */
.dev .header, .eng .header, .exp .header {
  color: white;
  border-width: 1px 0 0;
}
/* line 115, ../sass/partials/_colorset.scss */
.dev .body, .eng .body, .exp .body {
  color: black;
}

/* line 119, ../sass/partials/_colorset.scss */
.dev.article {
  border-color: #721717;
}
/* line 121, ../sass/partials/_colorset.scss */
.dev .header {
  background: #8f0000;
  border-color: #670000;
}
/* line 124, ../sass/partials/_colorset.scss */
.dev .body {
  background: #bc4444;
}

/* line 127, ../sass/partials/_colorset.scss */
.eng.article {
  border-color: #725417;
}
/* line 129, ../sass/partials/_colorset.scss */
.eng .header {
  background: #8f5f00;
  border-color: #674500;
}
/* line 132, ../sass/partials/_colorset.scss */
.eng .body {
  background: #bc9444;
}

/* line 135, ../sass/partials/_colorset.scss */
.exp.article {
  border-color: #0e4545;
}
/* line 137, ../sass/partials/_colorset.scss */
.exp .header {
  background: #005656;
  border-color: #003e3e;
}
/* line 140, ../sass/partials/_colorset.scss */
.exp .body {
  background: #379999;
}

/* line 145, ../sass/partials/_colorset.scss */
code, pre {
  background: #575757 url("../images/furley_bg.png") repeat scroll 0 0;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 3px;
  -mox-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
}

/* line 150, ../sass/partials/_colorset.scss */
img {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: normal;
  src: local("Cantarell Regular"), local("Cantarell-Regular"), url("http://themes.googleusercontent.com/static/fonts/cantarell/v2/V86VyqXbc09Sss3BPsMj17O3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}

@font-face {
  font-family: 'MuseoSlab-500';
  src: url("../typefaces/202288_0_0.eot");
  src: url("../typefaces/202288_0_0.eot?#iefix") format("embedded-opentype"), url("../typefaces/202288_0_0.woff") format("woff"), url("../typefaces/202288_0_0.ttf") format("truetype");
}

/* line 25, ../sass/partials/_typeset.scss */
body {
  font-family: 'MuseoSlab-500';
}

/* line 29, ../sass/partials/_typeset.scss */
#header a, .title {
  font-family: 'Cantarell', 'Helvetica', 'Arial', sans-serif;
}

/* line 33, ../sass/partials/_typeset.scss */
code, pre {
  font-family: "Consolas", "Menlo", "DejaVu Sans Mono", monospace;
}

/* line 3, ../sass/partials/_grid.scss */
body.one-col .article .body {
  padding: 32px 0;
  /* (75px line-height - 12px text-height) / 2 */
}
/* line 5, ../sass/partials/_grid.scss */
body.one-col .container {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../sass/partials/_grid.scss */
body.one-col .container .content {
  padding-left: 202px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 596px;
  padding-right: 202px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.one-col .container .content {
  overflow-x: hidden;
}
/* line 11, ../sass/partials/_grid.scss */
body.one-col .container .icon {
  padding-left: 101px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 91px;
  text-align: right;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.one-col .container .icon {
  overflow-x: hidden;
}
/* line 15, ../sass/partials/_grid.scss */
body.one-col .container .social {
  text-align: center;
}
/* line 17, ../sass/partials/_grid.scss */
body.one-col .container .title {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 495px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.one-col .container .title {
  overflow-x: hidden;
}
/* line 19, ../sass/partials/_grid.scss */
body.one-col .container .meta {
  text-align: right;
  display: inline;
  float: left;
  margin-right: 0;
  width: 91px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.one-col .container .meta {
  overflow-x: hidden;
}
/* line 22, ../sass/partials/_grid.scss */
body.one-col .container .half-columns {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 495px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.one-col .container .half-columns {
  overflow-x: hidden;
}
/* line 24, ../sass/partials/_grid.scss */
body.one-col .container .half-columns.last {
  display: inline;
  float: left;
  margin-right: 0;
  width: 495px;
  text-align: right;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.one-col .container .half-columns.last {
  overflow-x: hidden;
}
/* line 27, ../sass/partials/_grid.scss */
body.one-col .container .fourth-columns {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 141.5px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.one-col .container .fourth-columns {
  overflow-x: hidden;
}
/* line 29, ../sass/partials/_grid.scss */
body.one-col .container .fourth-columns.last {
  display: inline;
  float: left;
  margin-right: 0;
  width: 141.5px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.one-col .container .fourth-columns.last {
  overflow-x: hidden;
}

/* line 31, ../sass/partials/_grid.scss */
.article .title {
  padding-left: 202px;
}

/* line 35, ../sass/partials/_grid.scss */
body.one-col {
  font-size: 20px;
  line-height: 30px;
}
/* line 38, ../sass/partials/_grid.scss */
body.one-col #header {
  line-height: 75px;
}
/* line 40, ../sass/partials/_grid.scss */
body.one-col #header a {
  line-height: 50px;
  font-size: 30px;
}
/* line 43, ../sass/partials/_grid.scss */
body.one-col .title {
  font-size: 30px;
}
/* line 45, ../sass/partials/_grid.scss */
body.one-col .meta {
  font-size: 14px;
}
/* line 47, ../sass/partials/_grid.scss */
body.one-col .feature .header {
  line-height: 100px;
}
/* line 49, ../sass/partials/_grid.scss */
body.one-col .article .header {
  line-height: 75px;
}

/* line 9, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 1010 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(4.01%, rgba(100, 100, 225, 0.25)), color-stop(4.01%, rgba(0, 0, 0, 0)), color-stop(5%, rgba(0, 0, 0, 0)), color-stop(5%, rgba(100, 100, 225, 0.25)), color-stop(9.01%, rgba(100, 100, 225, 0.25)), color-stop(9.01%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(100, 100, 225, 0.25)), color-stop(14.01%, rgba(100, 100, 225, 0.25)), color-stop(14.01%, rgba(0, 0, 0, 0)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(15%, rgba(100, 100, 225, 0.25)), color-stop(19.01%, rgba(100, 100, 225, 0.25)), color-stop(19.01%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(100, 100, 225, 0.25)), color-stop(24.01%, rgba(100, 100, 225, 0.25)), color-stop(24.01%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(29.01%, rgba(100, 100, 225, 0.25)), color-stop(29.01%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(100, 100, 225, 0.25)), color-stop(34.01%, rgba(100, 100, 225, 0.25)), color-stop(34.01%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(100, 100, 225, 0.25)), color-stop(39.01%, rgba(100, 100, 225, 0.25)), color-stop(39.01%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(100, 100, 225, 0.25)), color-stop(44.01%, rgba(100, 100, 225, 0.25)), color-stop(44.01%, rgba(0, 0, 0, 0)), color-stop(45%, rgba(0, 0, 0, 0)), color-stop(45%, rgba(100, 100, 225, 0.25)), color-stop(49.01%, rgba(100, 100, 225, 0.25)), color-stop(49.01%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(54.01%, rgba(100, 100, 225, 0.25)), color-stop(54.01%, rgba(0, 0, 0, 0)), color-stop(55.0%, rgba(0, 0, 0, 0)), color-stop(55.0%, rgba(100, 100, 225, 0.25)), color-stop(59.01%, rgba(100, 100, 225, 0.25)), color-stop(59.01%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(100, 100, 225, 0.25)), color-stop(64.01%, rgba(100, 100, 225, 0.25)), color-stop(64.01%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(100, 100, 225, 0.25)), color-stop(69.01%, rgba(100, 100, 225, 0.25)), color-stop(69.01%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(100, 100, 225, 0.25)), color-stop(74.01%, rgba(100, 100, 225, 0.25)), color-stop(74.01%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(79.01%, rgba(100, 100, 225, 0.25)), color-stop(79.01%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(100, 100, 225, 0.25)), color-stop(84.01%, rgba(100, 100, 225, 0.25)), color-stop(84.01%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(100, 100, 225, 0.25)), color-stop(89.01%, rgba(100, 100, 225, 0.25)), color-stop(89.01%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(100, 100, 225, 0.25)), color-stop(94.01%, rgba(100, 100, 225, 0.25)), color-stop(94.01%, rgba(0, 0, 0, 0)), color-stop(95%, rgba(0, 0, 0, 0)), color-stop(95%, rgba(100, 100, 225, 0.25)), color-stop(99.01%, rgba(100, 100, 225, 0.25)), color-stop(99.01%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40.5px, rgba(0, 0, 0, 0) 40.5px, rgba(0, 0, 0, 0) 50.5px, rgba(100, 100, 225, 0.25) 50.5px, rgba(100, 100, 225, 0.25) 91px, rgba(0, 0, 0, 0) 91px, rgba(0, 0, 0, 0) 101px, rgba(100, 100, 225, 0.25) 101px, rgba(100, 100, 225, 0.25) 141.5px, rgba(0, 0, 0, 0) 141.5px, rgba(0, 0, 0, 0) 151.5px, rgba(100, 100, 225, 0.25) 151.5px, rgba(100, 100, 225, 0.25) 192px, rgba(0, 0, 0, 0) 192px, rgba(0, 0, 0, 0) 202px, rgba(100, 100, 225, 0.25) 202px, rgba(100, 100, 225, 0.25) 242.5px, rgba(0, 0, 0, 0) 242.5px, rgba(0, 0, 0, 0) 252.5px, rgba(100, 100, 225, 0.25) 252.5px, rgba(100, 100, 225, 0.25) 293px, rgba(0, 0, 0, 0) 293px, rgba(0, 0, 0, 0) 303px, rgba(100, 100, 225, 0.25) 303px, rgba(100, 100, 225, 0.25) 343.5px, rgba(0, 0, 0, 0) 343.5px, rgba(0, 0, 0, 0) 353.5px, rgba(100, 100, 225, 0.25) 353.5px, rgba(100, 100, 225, 0.25) 394px, rgba(0, 0, 0, 0) 394px, rgba(0, 0, 0, 0) 404px, rgba(100, 100, 225, 0.25) 404px, rgba(100, 100, 225, 0.25) 444.5px, rgba(0, 0, 0, 0) 444.5px, rgba(0, 0, 0, 0) 454.5px, rgba(100, 100, 225, 0.25) 454.5px, rgba(100, 100, 225, 0.25) 495px, rgba(0, 0, 0, 0) 495px, rgba(0, 0, 0, 0) 505px, rgba(100, 100, 225, 0.25) 505px, rgba(100, 100, 225, 0.25) 545.5px, rgba(0, 0, 0, 0) 545.5px, rgba(0, 0, 0, 0) 555.5px, rgba(100, 100, 225, 0.25) 555.5px, rgba(100, 100, 225, 0.25) 596px, rgba(0, 0, 0, 0) 596px, rgba(0, 0, 0, 0) 606px, rgba(100, 100, 225, 0.25) 606px, rgba(100, 100, 225, 0.25) 646.5px, rgba(0, 0, 0, 0) 646.5px, rgba(0, 0, 0, 0) 656.5px, rgba(100, 100, 225, 0.25) 656.5px, rgba(100, 100, 225, 0.25) 697px, rgba(0, 0, 0, 0) 697px, rgba(0, 0, 0, 0) 707px, rgba(100, 100, 225, 0.25) 707px, rgba(100, 100, 225, 0.25) 747.5px, rgba(0, 0, 0, 0) 747.5px, rgba(0, 0, 0, 0) 757.5px, rgba(100, 100, 225, 0.25) 757.5px, rgba(100, 100, 225, 0.25) 798px, rgba(0, 0, 0, 0) 798px, rgba(0, 0, 0, 0) 808px, rgba(100, 100, 225, 0.25) 808px, rgba(100, 100, 225, 0.25) 848.5px, rgba(0, 0, 0, 0) 848.5px, rgba(0, 0, 0, 0) 858.5px, rgba(100, 100, 225, 0.25) 858.5px, rgba(100, 100, 225, 0.25) 899px, rgba(0, 0, 0, 0) 899px, rgba(0, 0, 0, 0) 909px, rgba(100, 100, 225, 0.25) 909px, rgba(100, 100, 225, 0.25) 949.5px, rgba(0, 0, 0, 0) 949.5px, rgba(0, 0, 0, 0) 959.5px, rgba(100, 100, 225, 0.25) 959.5px, rgba(100, 100, 225, 0.25) 1000px, rgba(0, 0, 0, 0) 1000px, rgba(0, 0, 0, 0) 1010px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40.5px, rgba(0, 0, 0, 0) 40.5px, rgba(0, 0, 0, 0) 50.5px, rgba(100, 100, 225, 0.25) 50.5px, rgba(100, 100, 225, 0.25) 91px, rgba(0, 0, 0, 0) 91px, rgba(0, 0, 0, 0) 101px, rgba(100, 100, 225, 0.25) 101px, rgba(100, 100, 225, 0.25) 141.5px, rgba(0, 0, 0, 0) 141.5px, rgba(0, 0, 0, 0) 151.5px, rgba(100, 100, 225, 0.25) 151.5px, rgba(100, 100, 225, 0.25) 192px, rgba(0, 0, 0, 0) 192px, rgba(0, 0, 0, 0) 202px, rgba(100, 100, 225, 0.25) 202px, rgba(100, 100, 225, 0.25) 242.5px, rgba(0, 0, 0, 0) 242.5px, rgba(0, 0, 0, 0) 252.5px, rgba(100, 100, 225, 0.25) 252.5px, rgba(100, 100, 225, 0.25) 293px, rgba(0, 0, 0, 0) 293px, rgba(0, 0, 0, 0) 303px, rgba(100, 100, 225, 0.25) 303px, rgba(100, 100, 225, 0.25) 343.5px, rgba(0, 0, 0, 0) 343.5px, rgba(0, 0, 0, 0) 353.5px, rgba(100, 100, 225, 0.25) 353.5px, rgba(100, 100, 225, 0.25) 394px, rgba(0, 0, 0, 0) 394px, rgba(0, 0, 0, 0) 404px, rgba(100, 100, 225, 0.25) 404px, rgba(100, 100, 225, 0.25) 444.5px, rgba(0, 0, 0, 0) 444.5px, rgba(0, 0, 0, 0) 454.5px, rgba(100, 100, 225, 0.25) 454.5px, rgba(100, 100, 225, 0.25) 495px, rgba(0, 0, 0, 0) 495px, rgba(0, 0, 0, 0) 505px, rgba(100, 100, 225, 0.25) 505px, rgba(100, 100, 225, 0.25) 545.5px, rgba(0, 0, 0, 0) 545.5px, rgba(0, 0, 0, 0) 555.5px, rgba(100, 100, 225, 0.25) 555.5px, rgba(100, 100, 225, 0.25) 596px, rgba(0, 0, 0, 0) 596px, rgba(0, 0, 0, 0) 606px, rgba(100, 100, 225, 0.25) 606px, rgba(100, 100, 225, 0.25) 646.5px, rgba(0, 0, 0, 0) 646.5px, rgba(0, 0, 0, 0) 656.5px, rgba(100, 100, 225, 0.25) 656.5px, rgba(100, 100, 225, 0.25) 697px, rgba(0, 0, 0, 0) 697px, rgba(0, 0, 0, 0) 707px, rgba(100, 100, 225, 0.25) 707px, rgba(100, 100, 225, 0.25) 747.5px, rgba(0, 0, 0, 0) 747.5px, rgba(0, 0, 0, 0) 757.5px, rgba(100, 100, 225, 0.25) 757.5px, rgba(100, 100, 225, 0.25) 798px, rgba(0, 0, 0, 0) 798px, rgba(0, 0, 0, 0) 808px, rgba(100, 100, 225, 0.25) 808px, rgba(100, 100, 225, 0.25) 848.5px, rgba(0, 0, 0, 0) 848.5px, rgba(0, 0, 0, 0) 858.5px, rgba(100, 100, 225, 0.25) 858.5px, rgba(100, 100, 225, 0.25) 899px, rgba(0, 0, 0, 0) 899px, rgba(0, 0, 0, 0) 909px, rgba(100, 100, 225, 0.25) 909px, rgba(100, 100, 225, 0.25) 949.5px, rgba(0, 0, 0, 0) 949.5px, rgba(0, 0, 0, 0) 959.5px, rgba(100, 100, 225, 0.25) 959.5px, rgba(100, 100, 225, 0.25) 1000px, rgba(0, 0, 0, 0) 1000px, rgba(0, 0, 0, 0) 1010px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40.5px, rgba(0, 0, 0, 0) 40.5px, rgba(0, 0, 0, 0) 50.5px, rgba(100, 100, 225, 0.25) 50.5px, rgba(100, 100, 225, 0.25) 91px, rgba(0, 0, 0, 0) 91px, rgba(0, 0, 0, 0) 101px, rgba(100, 100, 225, 0.25) 101px, rgba(100, 100, 225, 0.25) 141.5px, rgba(0, 0, 0, 0) 141.5px, rgba(0, 0, 0, 0) 151.5px, rgba(100, 100, 225, 0.25) 151.5px, rgba(100, 100, 225, 0.25) 192px, rgba(0, 0, 0, 0) 192px, rgba(0, 0, 0, 0) 202px, rgba(100, 100, 225, 0.25) 202px, rgba(100, 100, 225, 0.25) 242.5px, rgba(0, 0, 0, 0) 242.5px, rgba(0, 0, 0, 0) 252.5px, rgba(100, 100, 225, 0.25) 252.5px, rgba(100, 100, 225, 0.25) 293px, rgba(0, 0, 0, 0) 293px, rgba(0, 0, 0, 0) 303px, rgba(100, 100, 225, 0.25) 303px, rgba(100, 100, 225, 0.25) 343.5px, rgba(0, 0, 0, 0) 343.5px, rgba(0, 0, 0, 0) 353.5px, rgba(100, 100, 225, 0.25) 353.5px, rgba(100, 100, 225, 0.25) 394px, rgba(0, 0, 0, 0) 394px, rgba(0, 0, 0, 0) 404px, rgba(100, 100, 225, 0.25) 404px, rgba(100, 100, 225, 0.25) 444.5px, rgba(0, 0, 0, 0) 444.5px, rgba(0, 0, 0, 0) 454.5px, rgba(100, 100, 225, 0.25) 454.5px, rgba(100, 100, 225, 0.25) 495px, rgba(0, 0, 0, 0) 495px, rgba(0, 0, 0, 0) 505px, rgba(100, 100, 225, 0.25) 505px, rgba(100, 100, 225, 0.25) 545.5px, rgba(0, 0, 0, 0) 545.5px, rgba(0, 0, 0, 0) 555.5px, rgba(100, 100, 225, 0.25) 555.5px, rgba(100, 100, 225, 0.25) 596px, rgba(0, 0, 0, 0) 596px, rgba(0, 0, 0, 0) 606px, rgba(100, 100, 225, 0.25) 606px, rgba(100, 100, 225, 0.25) 646.5px, rgba(0, 0, 0, 0) 646.5px, rgba(0, 0, 0, 0) 656.5px, rgba(100, 100, 225, 0.25) 656.5px, rgba(100, 100, 225, 0.25) 697px, rgba(0, 0, 0, 0) 697px, rgba(0, 0, 0, 0) 707px, rgba(100, 100, 225, 0.25) 707px, rgba(100, 100, 225, 0.25) 747.5px, rgba(0, 0, 0, 0) 747.5px, rgba(0, 0, 0, 0) 757.5px, rgba(100, 100, 225, 0.25) 757.5px, rgba(100, 100, 225, 0.25) 798px, rgba(0, 0, 0, 0) 798px, rgba(0, 0, 0, 0) 808px, rgba(100, 100, 225, 0.25) 808px, rgba(100, 100, 225, 0.25) 848.5px, rgba(0, 0, 0, 0) 848.5px, rgba(0, 0, 0, 0) 858.5px, rgba(100, 100, 225, 0.25) 858.5px, rgba(100, 100, 225, 0.25) 899px, rgba(0, 0, 0, 0) 899px, rgba(0, 0, 0, 0) 909px, rgba(100, 100, 225, 0.25) 909px, rgba(100, 100, 225, 0.25) 949.5px, rgba(0, 0, 0, 0) 949.5px, rgba(0, 0, 0, 0) 959.5px, rgba(100, 100, 225, 0.25) 959.5px, rgba(100, 100, 225, 0.25) 1000px, rgba(0, 0, 0, 0) 1000px, rgba(0, 0, 0, 0) 1010px);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40.5px, rgba(0, 0, 0, 0) 40.5px, rgba(0, 0, 0, 0) 50.5px, rgba(100, 100, 225, 0.25) 50.5px, rgba(100, 100, 225, 0.25) 91px, rgba(0, 0, 0, 0) 91px, rgba(0, 0, 0, 0) 101px, rgba(100, 100, 225, 0.25) 101px, rgba(100, 100, 225, 0.25) 141.5px, rgba(0, 0, 0, 0) 141.5px, rgba(0, 0, 0, 0) 151.5px, rgba(100, 100, 225, 0.25) 151.5px, rgba(100, 100, 225, 0.25) 192px, rgba(0, 0, 0, 0) 192px, rgba(0, 0, 0, 0) 202px, rgba(100, 100, 225, 0.25) 202px, rgba(100, 100, 225, 0.25) 242.5px, rgba(0, 0, 0, 0) 242.5px, rgba(0, 0, 0, 0) 252.5px, rgba(100, 100, 225, 0.25) 252.5px, rgba(100, 100, 225, 0.25) 293px, rgba(0, 0, 0, 0) 293px, rgba(0, 0, 0, 0) 303px, rgba(100, 100, 225, 0.25) 303px, rgba(100, 100, 225, 0.25) 343.5px, rgba(0, 0, 0, 0) 343.5px, rgba(0, 0, 0, 0) 353.5px, rgba(100, 100, 225, 0.25) 353.5px, rgba(100, 100, 225, 0.25) 394px, rgba(0, 0, 0, 0) 394px, rgba(0, 0, 0, 0) 404px, rgba(100, 100, 225, 0.25) 404px, rgba(100, 100, 225, 0.25) 444.5px, rgba(0, 0, 0, 0) 444.5px, rgba(0, 0, 0, 0) 454.5px, rgba(100, 100, 225, 0.25) 454.5px, rgba(100, 100, 225, 0.25) 495px, rgba(0, 0, 0, 0) 495px, rgba(0, 0, 0, 0) 505px, rgba(100, 100, 225, 0.25) 505px, rgba(100, 100, 225, 0.25) 545.5px, rgba(0, 0, 0, 0) 545.5px, rgba(0, 0, 0, 0) 555.5px, rgba(100, 100, 225, 0.25) 555.5px, rgba(100, 100, 225, 0.25) 596px, rgba(0, 0, 0, 0) 596px, rgba(0, 0, 0, 0) 606px, rgba(100, 100, 225, 0.25) 606px, rgba(100, 100, 225, 0.25) 646.5px, rgba(0, 0, 0, 0) 646.5px, rgba(0, 0, 0, 0) 656.5px, rgba(100, 100, 225, 0.25) 656.5px, rgba(100, 100, 225, 0.25) 697px, rgba(0, 0, 0, 0) 697px, rgba(0, 0, 0, 0) 707px, rgba(100, 100, 225, 0.25) 707px, rgba(100, 100, 225, 0.25) 747.5px, rgba(0, 0, 0, 0) 747.5px, rgba(0, 0, 0, 0) 757.5px, rgba(100, 100, 225, 0.25) 757.5px, rgba(100, 100, 225, 0.25) 798px, rgba(0, 0, 0, 0) 798px, rgba(0, 0, 0, 0) 808px, rgba(100, 100, 225, 0.25) 808px, rgba(100, 100, 225, 0.25) 848.5px, rgba(0, 0, 0, 0) 848.5px, rgba(0, 0, 0, 0) 858.5px, rgba(100, 100, 225, 0.25) 858.5px, rgba(100, 100, 225, 0.25) 899px, rgba(0, 0, 0, 0) 899px, rgba(0, 0, 0, 0) 909px, rgba(100, 100, 225, 0.25) 909px, rgba(100, 100, 225, 0.25) 949.5px, rgba(0, 0, 0, 0) 949.5px, rgba(0, 0, 0, 0) 959.5px, rgba(100, 100, 225, 0.25) 959.5px, rgba(100, 100, 225, 0.25) 1000px, rgba(0, 0, 0, 0) 1000px, rgba(0, 0, 0, 0) 1010px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40.5px, rgba(0, 0, 0, 0) 40.5px, rgba(0, 0, 0, 0) 50.5px, rgba(100, 100, 225, 0.25) 50.5px, rgba(100, 100, 225, 0.25) 91px, rgba(0, 0, 0, 0) 91px, rgba(0, 0, 0, 0) 101px, rgba(100, 100, 225, 0.25) 101px, rgba(100, 100, 225, 0.25) 141.5px, rgba(0, 0, 0, 0) 141.5px, rgba(0, 0, 0, 0) 151.5px, rgba(100, 100, 225, 0.25) 151.5px, rgba(100, 100, 225, 0.25) 192px, rgba(0, 0, 0, 0) 192px, rgba(0, 0, 0, 0) 202px, rgba(100, 100, 225, 0.25) 202px, rgba(100, 100, 225, 0.25) 242.5px, rgba(0, 0, 0, 0) 242.5px, rgba(0, 0, 0, 0) 252.5px, rgba(100, 100, 225, 0.25) 252.5px, rgba(100, 100, 225, 0.25) 293px, rgba(0, 0, 0, 0) 293px, rgba(0, 0, 0, 0) 303px, rgba(100, 100, 225, 0.25) 303px, rgba(100, 100, 225, 0.25) 343.5px, rgba(0, 0, 0, 0) 343.5px, rgba(0, 0, 0, 0) 353.5px, rgba(100, 100, 225, 0.25) 353.5px, rgba(100, 100, 225, 0.25) 394px, rgba(0, 0, 0, 0) 394px, rgba(0, 0, 0, 0) 404px, rgba(100, 100, 225, 0.25) 404px, rgba(100, 100, 225, 0.25) 444.5px, rgba(0, 0, 0, 0) 444.5px, rgba(0, 0, 0, 0) 454.5px, rgba(100, 100, 225, 0.25) 454.5px, rgba(100, 100, 225, 0.25) 495px, rgba(0, 0, 0, 0) 495px, rgba(0, 0, 0, 0) 505px, rgba(100, 100, 225, 0.25) 505px, rgba(100, 100, 225, 0.25) 545.5px, rgba(0, 0, 0, 0) 545.5px, rgba(0, 0, 0, 0) 555.5px, rgba(100, 100, 225, 0.25) 555.5px, rgba(100, 100, 225, 0.25) 596px, rgba(0, 0, 0, 0) 596px, rgba(0, 0, 0, 0) 606px, rgba(100, 100, 225, 0.25) 606px, rgba(100, 100, 225, 0.25) 646.5px, rgba(0, 0, 0, 0) 646.5px, rgba(0, 0, 0, 0) 656.5px, rgba(100, 100, 225, 0.25) 656.5px, rgba(100, 100, 225, 0.25) 697px, rgba(0, 0, 0, 0) 697px, rgba(0, 0, 0, 0) 707px, rgba(100, 100, 225, 0.25) 707px, rgba(100, 100, 225, 0.25) 747.5px, rgba(0, 0, 0, 0) 747.5px, rgba(0, 0, 0, 0) 757.5px, rgba(100, 100, 225, 0.25) 757.5px, rgba(100, 100, 225, 0.25) 798px, rgba(0, 0, 0, 0) 798px, rgba(0, 0, 0, 0) 808px, rgba(100, 100, 225, 0.25) 808px, rgba(100, 100, 225, 0.25) 848.5px, rgba(0, 0, 0, 0) 848.5px, rgba(0, 0, 0, 0) 858.5px, rgba(100, 100, 225, 0.25) 858.5px, rgba(100, 100, 225, 0.25) 899px, rgba(0, 0, 0, 0) 899px, rgba(0, 0, 0, 0) 909px, rgba(100, 100, 225, 0.25) 909px, rgba(100, 100, 225, 0.25) 949.5px, rgba(0, 0, 0, 0) 949.5px, rgba(0, 0, 0, 0) 959.5px, rgba(100, 100, 225, 0.25) 959.5px, rgba(100, 100, 225, 0.25) 1000px, rgba(0, 0, 0, 0) 1000px, rgba(0, 0, 0, 0) 1010px);
  -moz-background-size: 100% 18px, auto;
  -webkit-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 9, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info a {
  color: #205791;
}
/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 11, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 46, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}
/* line 39, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 42, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .colborder {
  padding-right: 29px;
  margin-right: 30px;
  border-right: 1px solid #dddddd;
}
/* line 47, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp form.inline p {
  margin-bottom: 0;
}

/* line 47, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 52, ../sass/screen.scss */
.article .body {
  display: none;
}

/* line 54, ../sass/screen.scss */
.article .header, .preview {
  cursor: pointer;
}

/* line 59, ../sass/screen.scss */
.preview img, img.thumb {
  padding: 4px;
  background: #eee;
  border: 1px outset #ddd;
}

/* line 63, ../sass/screen.scss */
.preview img {
  float: left;
  margin: 20px;
  width: 90px;
  height: 50px;
}

/* line 68, ../sass/screen.scss */
.article .body img.thumb {
  float: left;
  width: 135px;
  height: 75px;
  margin-right: 10px;
}
