/* line 49, ../sass/_colorset.scss */
body {
  background: #575757 url("../images/furley_bg.png") repeat scroll 0 0;
}

/* line 51, ../sass/_colorset.scss */
#header, #footer {
  color: #dddddd;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

/* line 55, ../sass/_colorset.scss */
#header {
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
}
/* line 57, ../sass/_colorset.scss */
#header a {
  color: #bc6a26;
  text-shadow: 0px 0px 4px #672f00;
}
/* line 60, ../sass/_colorset.scss */
#header a:hover {
  color: #bc7a44;
}
/* line 63, ../sass/_colorset.scss */
#header .dev a {
  color: #8f0000;
}
/* line 65, ../sass/_colorset.scss */
#header .dev a:hover {
  color: #bc4444 !important;
  text-shadow: 0px 0px 4px #670000;
}
/* line 68, ../sass/_colorset.scss */
#header .dev a.active {
  color: #bc2626;
  text-shadow: 0px 0px 4px #670000;
}
/* line 72, ../sass/_colorset.scss */
#header .eng a {
  color: #8f5f00;
}
/* line 74, ../sass/_colorset.scss */
#header .eng a:hover {
  color: #bc9444 !important;
  text-shadow: 0px 0px 4px #674500;
}
/* line 77, ../sass/_colorset.scss */
#header .eng a.active {
  color: #bc8a26;
  text-shadow: 0px 0px 4px #674500;
}
/* line 81, ../sass/_colorset.scss */
#header .exp a {
  color: #005656;
}
/* line 83, ../sass/_colorset.scss */
#header .exp a:hover {
  color: #379999 !important;
  text-shadow: 0px 0px 4px #003e3e;
}
/* line 86, ../sass/_colorset.scss */
#header .exp a.active {
  color: #1f9999;
  text-shadow: 0px 0px 4px #003e3e;
}

/* line 92, ../sass/_colorset.scss */
body {
  color: #222222;
}

/* line 95, ../sass/_colorset.scss */
.header .title, .header .meta, .social {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.1);
}

/* line 98, ../sass/_colorset.scss */
.social a {
  color: #222222;
}

/* line 101, ../sass/_colorset.scss */
.feature {
  color: #dddddd;
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #672f00;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* line 110, ../sass/_colorset.scss */
#spilliams {
  color: #222222;
  border-top: 1px solid #672f00;
  background: #8f4100;
  border-color: #672f00;
}
/* line 113, ../sass/_colorset.scss */
#spilliams a:hover {
  color: #dddddd;
}

/* line 121, ../sass/_colorset.scss */
.dev.article, .eng.article, .exp.article {
  border-bottom: 1px solid #8f4100;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
/* line 124, ../sass/_colorset.scss */
.dev.article .header, .eng.article .header, .exp.article .header {
  border-style: solid;
}
/* line 125, ../sass/_colorset.scss */
.dev.article .header, .eng.article .header, .exp.article .header {
  color: #dddddd;
  border-width: 1px 0 0;
}

/* line 130, ../sass/_colorset.scss */
.dev.article {
  border-color: #721717;
}
/* line 132, ../sass/_colorset.scss */
.dev.feature {
  background: #8f0000;
  border-color: #670000;
}
/* line 135, ../sass/_colorset.scss */
.dev .header {
  background: #8f0000;
  border-color: #670000;
}
/* line 138, ../sass/_colorset.scss */
.dev .body {
  background: #bc4444;
}

/* line 141, ../sass/_colorset.scss */
.eng.article {
  border-color: #725417;
}
/* line 143, ../sass/_colorset.scss */
.eng.feature {
  background: #8f5f00;
  border-color: #674500;
}
/* line 146, ../sass/_colorset.scss */
.eng .header {
  background: #8f5f00;
  border-color: #674500;
}
/* line 149, ../sass/_colorset.scss */
.eng .body {
  background: #bc9444;
}

/* line 152, ../sass/_colorset.scss */
.exp.article {
  border-color: #0e4545;
}
/* line 154, ../sass/_colorset.scss */
.exp.feature {
  background: #005656;
  border-color: #003e3e;
}
/* line 157, ../sass/_colorset.scss */
.exp .header {
  background: #005656;
  border-color: #003e3e;
}
/* line 160, ../sass/_colorset.scss */
.exp .body {
  background: #379999;
}

/* line 165, ../sass/_colorset.scss */
a {
  color: #eeeeee;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.1);
}

/* line 168, ../sass/_colorset.scss */
code, pre {
  background: #575757 url("../images/furley_bg.png") repeat scroll 0 0;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 3px;
  -mox-border-radius: 3px;
  border-radius: 3px;
  color: #dddddd;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding: 3px;
}

/* line 175, ../sass/_colorset.scss */
img {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  background: #eee;
  border: 1px outset #dddddd;
}

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: normal;
  src: local("Cantarell Regular"), local("Cantarell-Regular"), url("http://themes.googleusercontent.com/static/fonts/cantarell/v2/V86VyqXbc09Sss3BPsMj17O3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}

@font-face {
  font-family: 'MuseoSlab-500';
  src: url("../typefaces/202288_0_0.eot");
  src: url("../typefaces/202288_0_0.eot?#iefix") format("embedded-opentype"), url("../typefaces/202288_0_0.woff") format("woff"), url("../typefaces/202288_0_0.ttf") format("truetype");
}

/* line 25, ../sass/_typeset.scss */
body {
  font-family: 'MuseoSlab-500';
}

/* line 29, ../sass/_typeset.scss */
#header a, .title {
  font-family: 'Cantarell', 'Helvetica', 'Arial', sans-serif;
}

/* line 33, ../sass/_typeset.scss */
code, pre {
  font-family: "Consolas", "Menlo", "DejaVu Sans Mono", monospace;
}

/* line 36, ../sass/_typeset.scss */
.header, #spilliams {
  font-weight: bold;
}

/* line 6, ../sass/_grid.scss */
body {
  font-size: 20px;
  line-height: 30px;
}
/* line 9, ../sass/_grid.scss */
body #header {
  line-height: 75px;
}
/* line 11, ../sass/_grid.scss */
body #header a {
  line-height: 50px;
  font-size: 30px;
}
/* line 14, ../sass/_grid.scss */
body .title {
  font-size: 30px;
}
/* line 16, ../sass/_grid.scss */
body .meta {
  font-size: 14px;
}
/* line 18, ../sass/_grid.scss */
body .feature .header {
  line-height: 100px;
}
/* line 20, ../sass/_grid.scss */
body .article .header {
  line-height: 75px;
}
/* line 22, ../sass/_grid.scss */
body #footer .container div {
  height: 200px;
}

/* line 25, ../sass/_grid.scss */
#spilliams {
  height: 100px;
  line-height: 100px;
}

/* line 30, ../sass/_grid.scss */
img {
  padding: 4px;
}

/* line 32, ../sass/_grid.scss */
.preview img {
  float: left;
  margin: 20px 15px;
  height: 60px;
}

/* line 36, ../sass/_grid.scss */
.article .body img.thumb {
  float: left;
  height: 75px;
}

/* line 39, ../sass/_grid.scss */
#footer img {
  height: 140px;
  margin: 0 20px 0;
}

/* line 42, ../sass/_grid.scss */
#footer .container div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
}

@font-face {
  font-family: Collegiate;
  src: url("../typefaces/Collegiate.ttf");
}

/* line 5, ../sass/_github.scss */
#fork-outside {
  line-height: 20px;
  font-family: Collegiate;
  background: #8f0000;
  position: fixed;
  top: 40px;
  right: -60px;
  padding: 3px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  z-index: 1;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
}

/* line 20, ../sass/_github.scss */
#fork-inside {
  font-size: 15px;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px 0;
  display: inline-block;
  color: #dddddd;
  text-decoration: none;
  padding: 0 60px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

/* line 1, ../sass/_stickyfooter.scss */
* {
  margin: 0;
}

/* line 4, ../sass/_stickyfooter.scss */
html, body {
  height: 100%;
}

/* line 7, ../sass/_stickyfooter.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
  /* the bottom margin is the negative value of the footer's height */
}

/* line 13, ../sass/_stickyfooter.scss */
.footer, .push {
  height: 200px;
  /* .push must be the same height as .footer */
}

/* line 16, ../sass/_stickyfooter.scss */
.footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
/* line 16, ../sass/theme.scss */
body {
  overflow-y: scroll;
}

/* line 17, ../sass/theme.scss */
a {
  text-decoration: none;
}

/* line 21, ../sass/theme.scss */
.article .body {
  display: none;
}

/* line 23, ../sass/theme.scss */
.article .header, .preview {
  cursor: pointer;
}
