/* line 49, ../sass/_colorset.scss */
html, body {
  background: #575757 url("../images/furley_bg.png") repeat scroll 0 0 !important;
}

/* line 51, ../sass/_colorset.scss */
#header, #footer {
  color: #dddddd;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

/* line 54, ../sass/_colorset.scss */
#scroll-nav {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
/* line 56, ../sass/_colorset.scss */
#scroll-nav img {
  background: transparent;
  -webkit-box-shadow: 0px 0px 4px 0px none;
  -moz-box-shadow: 0px 0px 4px 0px none;
  box-shadow: 0px 0px 4px 0px none;
  padding: 0;
  width: 85px;
  height: 85px;
  margin-top: 13px;
}
/* line 64, ../sass/_colorset.scss */
#scroll-nav .icon {
  border-top-width: 1px;
  border-top-style: solid;
}
/* line 67, ../sass/_colorset.scss */
#scroll-nav .icon.dev {
  background: #8f0000;
  border-top-color: #670000;
}
/* line 71, ../sass/_colorset.scss */
#scroll-nav .icon.eng {
  background: #8f5f00;
  border-top-color: #674500;
}
/* line 75, ../sass/_colorset.scss */
#scroll-nav .icon.exp {
  background: #005656;
  border-top-color: #003e3e;
}

/* line 82, ../sass/_colorset.scss */
#header {
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
}
/* line 84, ../sass/_colorset.scss */
#header a {
  color: #bc6a26;
  text-shadow: 0px 0px 4px #672f00;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.1);
}
/* line 88, ../sass/_colorset.scss */
#header a:hover {
  color: #bc7a44;
}
/* line 91, ../sass/_colorset.scss */
#header .dev a {
  color: #8f0000;
}
/* line 93, ../sass/_colorset.scss */
#header .dev a:hover {
  color: #bc4444 !important;
  text-shadow: 0px 0px 4px #670000;
}
/* line 96, ../sass/_colorset.scss */
#header .dev a.active {
  color: #bc2626;
  text-shadow: 0px 0px 4px #670000;
}
/* line 100, ../sass/_colorset.scss */
#header .eng a {
  color: #8f5f00;
}
/* line 102, ../sass/_colorset.scss */
#header .eng a:hover {
  color: #bc9444 !important;
  text-shadow: 0px 0px 4px #674500;
}
/* line 105, ../sass/_colorset.scss */
#header .eng a.active {
  color: #bc8a26;
  text-shadow: 0px 0px 4px #674500;
}
/* line 109, ../sass/_colorset.scss */
#header .exp a {
  color: #005656;
}
/* line 111, ../sass/_colorset.scss */
#header .exp a:hover {
  color: #379999;
  text-shadow: 0px 0px 4px #003e3e;
}
/* line 114, ../sass/_colorset.scss */
#header .exp a.active {
  color: #1f9999;
  text-shadow: 0px 0px 4px #003e3e;
}

/* line 118, ../sass/_colorset.scss */
a {
  color: #dddddd;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.1);
}

/* line 122, ../sass/_colorset.scss */
a:hover {
  color: #222222;
}

/* line 125, ../sass/_colorset.scss */
.dev a:hover {
  color: #8f0000;
  text-shadow: 0px 0px 4px #721717;
}
/* line 128, ../sass/_colorset.scss */
.dev a.active {
  color: #bc2626;
  text-shadow: 0px 0px 4px #721717;
}

/* line 132, ../sass/_colorset.scss */
.eng a:hover {
  color: #8f5f00;
  text-shadow: 0px 0px 4px #725417;
}
/* line 135, ../sass/_colorset.scss */
.eng a.active {
  color: #bc8a26;
  text-shadow: 0px 0px 4px #725417;
}

/* line 139, ../sass/_colorset.scss */
.exp a:hover {
  color: #005656;
  text-shadow: 0px 0px 4px #0e4545;
}
/* line 142, ../sass/_colorset.scss */
.exp a.active {
  color: #1f9999;
  text-shadow: 0px 0px 4px #0e4545;
}

/* line 148, ../sass/_colorset.scss */
body {
  color: #222222;
}

/* line 151, ../sass/_colorset.scss */
.header .title, .header .meta, .social {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.1);
}

/* line 154, ../sass/_colorset.scss */
.social a {
  color: #222222;
}

/* line 156, ../sass/_colorset.scss */
.social a:hover {
  color: #dddddd;
}

/* line 159, ../sass/_colorset.scss */
.feature {
  color: #dddddd;
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #672f00;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* line 168, ../sass/_colorset.scss */
#spilliams {
  color: #222222;
  border-top: 1px solid #672f00;
  background: #8f4100;
  border-color: #672f00;
}

/* line 176, ../sass/_colorset.scss */
.dev.article, .eng.article, .exp.article {
  border-bottom: 1px solid #8f4100;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
/* line 179, ../sass/_colorset.scss */
.dev.article .header, .eng.article .header, .exp.article .header {
  border-style: solid;
}
/* line 180, ../sass/_colorset.scss */
.dev.article .header, .eng.article .header, .exp.article .header {
  color: #dddddd;
  border-width: 1px 0 0;
}

/* line 185, ../sass/_colorset.scss */
.dev.article {
  border-color: #721717;
}
/* line 187, ../sass/_colorset.scss */
.dev.feature {
  background: #8f0000;
  border-color: #670000;
}
/* line 190, ../sass/_colorset.scss */
.dev .header {
  background: #8f0000;
  border-color: #670000;
}
/* line 193, ../sass/_colorset.scss */
.dev .body {
  background: #bc4444;
}

/* line 196, ../sass/_colorset.scss */
.eng.article {
  border-color: #725417;
}
/* line 198, ../sass/_colorset.scss */
.eng.feature {
  background: #8f5f00;
  border-color: #674500;
}
/* line 201, ../sass/_colorset.scss */
.eng .header {
  background: #8f5f00;
  border-color: #674500;
}
/* line 204, ../sass/_colorset.scss */
.eng .body {
  background: #bc9444;
}

/* line 207, ../sass/_colorset.scss */
.exp.article {
  border-color: #0e4545;
}
/* line 209, ../sass/_colorset.scss */
.exp.feature {
  background: #005656;
  border-color: #003e3e;
}
/* line 212, ../sass/_colorset.scss */
.exp .header {
  background: #005656;
  border-color: #003e3e;
}
/* line 215, ../sass/_colorset.scss */
.exp .body {
  background: #379999;
}

/* line 220, ../sass/_colorset.scss */
code, pre {
  background: #575757 url("../images/furley_bg.png") repeat scroll 0 0;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 3px;
  -mox-border-radius: 3px;
  border-radius: 3px;
  color: #dddddd;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding: 3px;
}

/* line 227, ../sass/_colorset.scss */
img {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  background: #eee;
  border: 1px outset #dddddd;
}

/* line 231, ../sass/_colorset.scss */
.icon img {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: 0 none transparent;
}

/* line 9, ../sass/_typeset.scss */
body {
  font-family: "Archer SSm A", "Archer SSm B";
}

/* line 13, ../sass/_typeset.scss */
#header a, .title {
  font-family: "Verlag A", "Verlag B";
}

/* line 17, ../sass/_typeset.scss */
code, pre {
  font-family: "Consolas", "Menlo", "DejaVu Sans Mono", monospace;
}

/* line 8, ../sass/_grid.scss */
p, li {
  font-size: 18px;
}

/* line 10, ../sass/_grid.scss */
body {
  font-size: 20px;
  line-height: 30px;
}
/* line 13, ../sass/_grid.scss */
body #scroll-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  cursor: pointer;
}
/* line 21, ../sass/_grid.scss */
body #header {
  line-height: 75px;
}
/* line 23, ../sass/_grid.scss */
body #header a {
  line-height: 50px;
  font-size: 30px;
}
/* line 26, ../sass/_grid.scss */
body .title {
  font-size: 30px;
}
/* line 28, ../sass/_grid.scss */
body .meta {
  font-size: 14px;
}
/* line 30, ../sass/_grid.scss */
body .feature .header {
  line-height: 100px;
}
/* line 32, ../sass/_grid.scss */
body .article .header {
  line-height: 75px;
}
/* line 35, ../sass/_grid.scss */
body #footer a {
  font-size: 14px;
}
/* line 38, ../sass/_grid.scss */
body #footer p a {
  font-size: 18px;
}

/* line 44, ../sass/_grid.scss */
#spilliams {
  height: 100px;
  line-height: 100px;
  margin-bottom: 50px;
}

/* line 50, ../sass/_grid.scss */
.icon {
  max-height: 100px;
}

/* line 52, ../sass/_grid.scss */
img {
  padding: 4px;
}

/* line 54, ../sass/_grid.scss */
.icon img {
  width: 85px;
  margin-top: 7px;
  padding: 0;
}

/* line 59, ../sass/_grid.scss */
#scroll-nav img {
  border-width: 0;
}

/* line 62, ../sass/_grid.scss */
.preview {
  text-align: center;
}

/* line 64, ../sass/_grid.scss */
.preview img {
  margin: 20px 30px;
  height: 60px;
}

/* line 67, ../sass/_grid.scss */
.article img {
  width: 100%;
  display: block;
}

/* line 71, ../sass/_grid.scss */
.article .body img.thumb {
  float: left;
  margin: 0 10px 10px 0;
  height: 75px;
  width: auto;
}

/* line 77, ../sass/_grid.scss */
.article .body, #footer {
  padding-top: 17px;
}

/* line 15, ../sass/theme.scss */
body {
  overflow-y: scroll;
}

/* line 16, ../sass/theme.scss */
a {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  /* line 2, ../sass/_mobile.scss */
  #header {
    text-align: center;
  }

  /* line 4, ../sass/_mobile.scss */
  body .article .header {
    line-height: 50px;
    text-align: center;
  }
  /* line 7, ../sass/_mobile.scss */
  body .article .header .title {
    margin-top: 10px;
  }
  /* line 9, ../sass/_mobile.scss */
  body .article .header .meta {
    text-align: center;
  }

  /* line 11, ../sass/_mobile.scss */
  .feature .title {
    text-align: right;
  }
}
/* line 23, ../sass/theme.scss */
.article .body {
  display: none;
}

/* line 25, ../sass/theme.scss */
.article .header, .preview {
  cursor: pointer;
}
