/* line 49, ../sass/_colorset.scss */
body {
  background: #575757 url("../images/furley_bg.png") repeat scroll 0 0;
}

/* line 51, ../sass/_colorset.scss */
#header, #footer {
  color: #dddddd;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

/* line 55, ../sass/_colorset.scss */
#header {
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
}
/* line 57, ../sass/_colorset.scss */
#header a {
  color: #bc6a26;
  text-shadow: 0px 0px 4px #672f00;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.1);
}
/* line 61, ../sass/_colorset.scss */
#header a:hover {
  color: #bc7a44;
}
/* line 64, ../sass/_colorset.scss */
#header .dev a {
  color: #8f0000;
}
/* line 66, ../sass/_colorset.scss */
#header .dev a:hover {
  color: #bc4444 !important;
  text-shadow: 0px 0px 4px #670000;
}
/* line 69, ../sass/_colorset.scss */
#header .dev a.active {
  color: #bc2626;
  text-shadow: 0px 0px 4px #670000;
}
/* line 73, ../sass/_colorset.scss */
#header .eng a {
  color: #8f5f00;
}
/* line 75, ../sass/_colorset.scss */
#header .eng a:hover {
  color: #bc9444 !important;
  text-shadow: 0px 0px 4px #674500;
}
/* line 78, ../sass/_colorset.scss */
#header .eng a.active {
  color: #bc8a26;
  text-shadow: 0px 0px 4px #674500;
}
/* line 82, ../sass/_colorset.scss */
#header .exp a {
  color: #005656;
}
/* line 84, ../sass/_colorset.scss */
#header .exp a:hover {
  color: #379999;
  text-shadow: 0px 0px 4px #003e3e;
}
/* line 87, ../sass/_colorset.scss */
#header .exp a.active {
  color: #1f9999;
  text-shadow: 0px 0px 4px #003e3e;
}

/* line 91, ../sass/_colorset.scss */
a {
  color: #dddddd;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.1);
}

/* line 95, ../sass/_colorset.scss */
a:hover {
  color: #222222;
}

/* line 98, ../sass/_colorset.scss */
.dev a:hover {
  color: #8f0000;
  text-shadow: 0px 0px 4px #721717;
}
/* line 101, ../sass/_colorset.scss */
.dev a.active {
  color: #bc2626;
  text-shadow: 0px 0px 4px #721717;
}

/* line 105, ../sass/_colorset.scss */
.eng a:hover {
  color: #8f5f00;
  text-shadow: 0px 0px 4px #725417;
}
/* line 108, ../sass/_colorset.scss */
.eng a.active {
  color: #bc8a26;
  text-shadow: 0px 0px 4px #725417;
}

/* line 112, ../sass/_colorset.scss */
.exp a:hover {
  color: #005656;
  text-shadow: 0px 0px 4px #0e4545;
}
/* line 115, ../sass/_colorset.scss */
.exp a.active {
  color: #1f9999;
  text-shadow: 0px 0px 4px #0e4545;
}

/* line 121, ../sass/_colorset.scss */
body {
  color: #222222;
}

/* line 124, ../sass/_colorset.scss */
.header .title, .header .meta, .social {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.1);
}

/* line 127, ../sass/_colorset.scss */
.social a {
  color: #222222;
}

/* line 129, ../sass/_colorset.scss */
.social a:hover {
  color: #dddddd;
}

/* line 132, ../sass/_colorset.scss */
.feature {
  color: #dddddd;
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #672f00;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* line 141, ../sass/_colorset.scss */
#spilliams {
  color: #222222;
  border-top: 1px solid #672f00;
  background: #8f4100;
  border-color: #672f00;
}

/* line 149, ../sass/_colorset.scss */
.dev.article, .eng.article, .exp.article {
  border-bottom: 1px solid #8f4100;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
/* line 152, ../sass/_colorset.scss */
.dev.article .header, .eng.article .header, .exp.article .header {
  border-style: solid;
}
/* line 153, ../sass/_colorset.scss */
.dev.article .header, .eng.article .header, .exp.article .header {
  color: #dddddd;
  border-width: 1px 0 0;
}

/* line 158, ../sass/_colorset.scss */
.dev.article {
  border-color: #721717;
}
/* line 160, ../sass/_colorset.scss */
.dev.feature {
  background: #8f0000;
  border-color: #670000;
}
/* line 163, ../sass/_colorset.scss */
.dev .header {
  background: #8f0000;
  border-color: #670000;
}
/* line 166, ../sass/_colorset.scss */
.dev .body {
  background: #bc4444;
}

/* line 169, ../sass/_colorset.scss */
.eng.article {
  border-color: #725417;
}
/* line 171, ../sass/_colorset.scss */
.eng.feature {
  background: #8f5f00;
  border-color: #674500;
}
/* line 174, ../sass/_colorset.scss */
.eng .header {
  background: #8f5f00;
  border-color: #674500;
}
/* line 177, ../sass/_colorset.scss */
.eng .body {
  background: #bc9444;
}

/* line 180, ../sass/_colorset.scss */
.exp.article {
  border-color: #0e4545;
}
/* line 182, ../sass/_colorset.scss */
.exp.feature {
  background: #005656;
  border-color: #003e3e;
}
/* line 185, ../sass/_colorset.scss */
.exp .header {
  background: #005656;
  border-color: #003e3e;
}
/* line 188, ../sass/_colorset.scss */
.exp .body {
  background: #379999;
}

/* line 193, ../sass/_colorset.scss */
code, pre {
  background: #575757 url("../images/furley_bg.png") repeat scroll 0 0;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.4), 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 3px;
  -mox-border-radius: 3px;
  border-radius: 3px;
  color: #dddddd;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding: 3px;
}

/* line 200, ../sass/_colorset.scss */
img {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  background: #eee;
  border: 1px outset #dddddd;
}

/* line 204, ../sass/_colorset.scss */
.icon img {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: 0 none transparent;
}

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: normal;
  src: local("Cantarell Regular"), local("Cantarell-Regular"), url("http://themes.googleusercontent.com/static/fonts/cantarell/v2/V86VyqXbc09Sss3BPsMj17O3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}

@font-face {
  font-family: 'MuseoSlab-500';
  src: url("../typefaces/202288_0_0.eot");
  src: url("../typefaces/202288_0_0.eot?#iefix") format("embedded-opentype"), url("../typefaces/202288_0_0.woff") format("woff"), url("../typefaces/202288_0_0.ttf") format("truetype");
}

/* line 25, ../sass/_typeset.scss */
body {
  font-family: 'MuseoSlab-500';
}

/* line 29, ../sass/_typeset.scss */
#header a, .title {
  font-family: 'Cantarell', 'Helvetica', 'Arial', sans-serif;
}

/* line 33, ../sass/_typeset.scss */
code, pre {
  font-family: "Consolas", "Menlo", "DejaVu Sans Mono", monospace;
}

/* line 36, ../sass/_typeset.scss */
.header, #spilliams {
  font-weight: bold;
}

/* line 39, ../sass/_typeset.scss */
p, li {
  font-size: 18px;
}

/* line 6, ../sass/_grid.scss */
body {
  font-size: 20px;
  line-height: 30px;
}
/* line 9, ../sass/_grid.scss */
body #header {
  line-height: 75px;
}
/* line 11, ../sass/_grid.scss */
body #header a {
  line-height: 50px;
  font-size: 30px;
}
/* line 14, ../sass/_grid.scss */
body .title {
  font-size: 30px;
}
/* line 16, ../sass/_grid.scss */
body .meta {
  font-size: 14px;
}
/* line 18, ../sass/_grid.scss */
body .feature .header {
  line-height: 100px;
}
/* line 20, ../sass/_grid.scss */
body .article .header {
  line-height: 75px;
}
/* line 22, ../sass/_grid.scss */
body #footer .container div {
  height: 200px;
}

/* line 25, ../sass/_grid.scss */
#spilliams {
  height: 100px;
  line-height: 100px;
  margin-bottom: 50px;
}

/* line 31, ../sass/_grid.scss */
.icon {
  max-height: 100px;
}

/* line 33, ../sass/_grid.scss */
img {
  padding: 4px;
}

/* line 35, ../sass/_grid.scss */
.icon img {
  width: 85px;
  margin-top: 7px;
  padding: 0;
}

/* line 40, ../sass/_grid.scss */
.preview {
  text-align: center;
}

/* line 42, ../sass/_grid.scss */
.preview img {
  margin: 20px 30px;
  height: 60px;
}

/* line 45, ../sass/_grid.scss */
.article img {
  width: 100%;
  display: block;
}

/* line 49, ../sass/_grid.scss */
.article .body img.thumb {
  float: left;
  margin: 0 10px 10px 0;
  height: 75px;
}

/* line 53, ../sass/_grid.scss */
.article .body, #footer {
  padding-top: 17px;
}

/* line 55, ../sass/_grid.scss */
#footer img {
  height: 140px;
  margin: 0 20px 0;
}

/* line 58, ../sass/_grid.scss */
#footer .container div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
}

/* line 15, ../sass/theme.scss */
body {
  overflow-y: scroll;
}

/* line 16, ../sass/theme.scss */
a {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  /* line 2, ../sass/_mobile.scss */
  #header {
    text-align: center;
  }

  /* line 4, ../sass/_mobile.scss */
  body .article .header {
    line-height: 50px;
    text-align: center;
  }
  /* line 7, ../sass/_mobile.scss */
  body .article .header .title {
    margin-top: 10px;
  }
  /* line 9, ../sass/_mobile.scss */
  body .article .header .meta {
    text-align: center;
  }

  /* line 11, ../sass/_mobile.scss */
  .feature .title {
    text-align: right;
  }
}
/* line 23, ../sass/theme.scss */
.article .body {
  display: none;
}

/* line 25, ../sass/theme.scss */
.article .header, .preview {
  cursor: pointer;
}
